.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.accueil h3,
.accueil h5 {
  color: rgba(var(--deepGreen2));
  margin: 0;
}

.accueil a {
  color: rgba(var(--green));
  text-decoration: none;
}

.accueil img {
  width: 400px;
  height: auto;
  margin-top: 20px;
}