.example-wrapper {
    padding: 20px;
    text-align: center;
}

/* Image */
.example-wrapper img {
    width: 20%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}

h1 {
    font-size: 2.5em;
    color: #28a745;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    color: #6c757d;
}

h5 a {
    font-size: 1.2em;
    font-weight: 600;
}
