{% extends 'base.html.twig' %}

{% block title %}Nouveau Devis{% endblock %}

{% block body %}
    <h1>Créer un nouveau Devis</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_devis_index') }}">Retour à la liste</a>
{% endblock %}
