{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h4>Créer une nouvelle Catégorie</h4>

    {{ include('categorie/_form.html.twig') }}
{% endblock %}
