{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h4>Edit User</h4>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}" class="warning"><button>Retour à la liste</button></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
