{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}
    <h4>Create new Haie</h4>

    {{ include('haie/_form.html.twig') }}

    <a href="{{ path('app_haie_index') }}">back to list</a>
{% endblock %}
